#header {
  .headerHeader {
    background-color: #444444;
    align-items: center;
    display: flex;
    gap: 1.5px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    height: 48px;

    #Diler {
      color: white;
      font-weight: 600;
      border-left: 3px solid rgb(162, 0, 255);
      padding-left: 10px;
    }

    h2 {
      font-size: 14px;
      font-weight: 400;
    }
    input {
      width: 24px;
      height: 24px;
      text-decoration: none;
      margin-top: -5px;
    }
    .apple {
      display: flex;

      width: 1280px;
      justify-content: space-between;
      margin: 0 auto;
      h2 {
        font-size: 14px;
        font-weight: 400;
        color: #a1a1a1;
      }
      span {
        color: white;
        font-weight: 600;
      }
    }
  }
  hr {
    border: 1px solid rgb(162, 0, 255);
  }

  .HeaderLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    background-color: rgb(0, 0, 0);

    .d {
      justify-content: space-between;
      align-items: center;
      display: flex;
      width: 1208px;
      #logo {
        width: 170px;
        height: 120px;
        // object-fit: cover;
      }
      input {
        width: 643px;
        height: 38px;
        border: none;
        padding-left: 20px;
        border-radius: 4px;
        color: white;
        background-color: rgb(162, 0, 255);
        margin-left: 90px;
        transition: all 0.3s ease-in-out;
        &::placeholder {
          color: white;
          font-size: 14px;
        }
      }
      input:focus {
        outline: none;
        box-shadow: 0 0 30px rgba(162, 0, 255, 0.7);
        transition: all 0.3s ease-in-out;
      }

      button {
        background: none;
        border: none;
        position: relative;
        left: -65px;
        img {
          filter: invert(1);
        }
        img:active {
          transform: scale(0.9);
          transition: 0.1s;
        }
      }

      .HeaderImg {
        display: flex;
        gap: -10px;

        a {
          img {
            width: 70px;
            height: 32px;
            filter: invert(1);
            transition: all 0.3s;
          }
          img:hover {
            transform: scale(1.06);
            transition: all 0.3s;
          }
        }
      }
    }
  }
  .HeaderMenu {
    display: flex;
    gap: 40px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    margin-bottom: 300px;
    height: 60px;
    a {
      text-decoration: none;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      margin-top: -30px;
      color: white;

      img {
        width: 13px;
        height: 10px;
        margin-right: 3px;
      }
    }
  }
  .navLink {
    p {
      font-weight: 500;
      font-size: 14px;
      cursor: pointer;
      margin-top: -30px;
      color: white;
      transition: 0.3s;
    }

    &:hover p {
      color: rgb(162, 0, 255);
      border-bottom: 1px solid rgb(162, 0, 255);
    }
  }

  .active {
    p {
      color: rgb(162, 0, 255);
      border-bottom: 1px solid rgb(162, 0, 255);
    }
  }
  .header {
  }
}
