* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
// body {
//   background-color: rgb(162, 0, 255);
// }
