#register {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(270deg, #7b2ff7, #9a2ff7, #c02ff7, #7b2ff7);
  background-size: 600% 600%;
  animation: gradientBG 11s ease infinite;
  font-family: Arial, Helvetica, sans-serif;

  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .register {
    display: flex;
    margin-top: -300px;
    margin-bottom: 140px;
    justify-content: center;
    padding-top: 120px;
    .registerBox {
      .reaImg {
        img {
          width: 919px;
          height: 706px;
        }
      }
      .inpRes {
        justify-content: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 550px;
        height: 650px;
        text-align: center;
        padding-top: 50px;
        border-radius: 9px;
        // background-color: white;
        h1 {
          font-size: 36px;
          font-weight: 500;
          color: rgb(252, 252, 252);
        }
        h3 {
          color: rgb(255, 255, 255);

          font-size: 16px;
          font-weight: 400;
          margin-top: 30px;
          margin-bottom: 48px;
        }
        input {
          width: 370px;
          height: 32px;
          margin-bottom: 40px;
          border: none;
          background: none;
          border-bottom: 2px solid rgb(255, 255, 255);
          color: rgb(255, 255, 255);
          padding-left: 10px;
          outline: none;
          font-size: 14px;
          transition: all 0.3s ease-in-out;

          &::placeholder {
            color: rgb(255, 255, 255);
          }
        }
        input:focus {
          transition: all 0.5s ease-in-out;
          border-bottom: 2px solid rgb(87, 87, 87);
        }
        #errorBot {
          color: red;
          margin-bottom: 10px;
          margin-top: -10px;
        }
        #ok {
          width: 371px;
          height: 56px;
          background-color: rgb(98, 0, 255);
          color: white;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          font-weight: 500;
          transition: all 0.3s ease-in-out;
        }
        #ok:hover {
          transform: scale(1.06);
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
        #google {
          width: 371px;
          height: 56px;
          border: none;
          border-radius: 5px;
          margin-top: 16px;
          align-items: center;
          display: flex;
          gap: 16px;
          padding-left: 86px;
          font-size: 16px;
          font-weight: 400;
          transition: all 0.3s ease-in-out;
          margin-left: 88px;
        }
        #google:hover {
          transform: scale(1.06);
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }
        .perehod {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-top: 34px;
          // margin-left: 40px;
          margin-left: 149px;

          h2 {
            font-size: 16px;
            font-weight: 400;
            color: rgb(197, 197, 197);
          }
          a {
            font-size: 16px;
            font-weight: 500;
            color: rgb(255, 255, 255);
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            border-bottom: 1px solid rgb(255, 255, 255);
          }
          a:hover {
            color: black;
            border-bottom: 1px solid rgb(0, 0, 0);
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
}
