.slideItem {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  position: relative;
  //   border-radius: 10px;
}

.media {
  max-width: 100%;
  max-height: 120%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.content {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  text-align: center;
}
