#footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 440px;
  border-top: 3px solid rgb(162, 0, 255);
  .footer {
    justify-content: space-between;
    display: flex;
    padding-top: 150px;
    .FooterInp {
      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      h2 {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 30px;
        a {
          color: white;
          text-decoration: none;
        }
        a:hover {
          border-bottom: 1px solid rgb(162, 0, 255);
          color: rgb(162, 0, 255);
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
      }
      input {
        width: 217px;
        height: 48px;
        border-radius: 5px;
        border: 1px solid white;
        padding-left: 15px;
        margin-bottom: 20px;
        background: none;
        color: white;
        transition: all 0.5s ease-in-out;
      }
      input:focus {
        border: 2px solid rgb(162, 0, 255);
        box-shadow: 0 0 40px rgb(162, 0, 255);
        outline: rgb(162, 0, 255);
        transition: all 0.5s ease-in-out;
      }
      button {
        position: relative;
        left: -30px;
        top: 6px;
        background: none;
        border: none;
        img {
        }
        img:active {
          cursor: pointer;
        }
      }
    }
    .FooterSup {
      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;
      }
    }
    .FooterAcc {
      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;
        a {
          color: white;
          text-decoration: none;
        }
        a:hover {
          border-bottom: 1px solid rgb(162, 0, 255);
          color: rgb(162, 0, 255);
        }
      }
    }
    .FooterQui {
      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 25px;
      }
    }
    .FooterDow {
      h1 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
      }

      .Quar {
        display: flex;
        img {
          margin-top: 8px;
        }
        .App {
          text-align: center;
          img {
            width: 90px;
            height: 40px;
            margin-left: 7px;
          }
        }
      }
    }
    .contacts {
      display: flex;
      justify-content: space-between;
      img {
        margin-top: 20px;
        cursor: pointer;
        transition: filter 0.3s ease, transform 0.3s ease;
      }
      img:hover {
        transform: scale(1.15);
        filter: brightness(2) drop-shadow(0 0 10px rgba(200, 0, 255, 1.5))
          drop-shadow(0 0 30px rgba(200, 0, 255, 2));
      }
    }
  }
}
